# Build outputs and dependencies
**/dist
**/build
**/.turbo
**/coverage
**/node_modules
**/*.tsbuildinfo
tmp
figma-proto

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
*.pid

# dotenv environment variable files
.env
.env.local
.env.*.local
.env.development
.env.test
.env.production

# temp directory
.temp
.tmp
.cache

# OS/editor
.DS_Store
Thumbs.db
.idea
.vscode

# Runtime / local data
**/prisma/*.db
**/prisma/*.db-journal
**/.pnpm-store

# Skills
.claude
.codex
.agent
.github
